@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    background-color: #000300;
}

.content {
    
}

video {
    
    z-index: -1;
}

.nav-hidden {
    z-index: 1;
}

.vertical-timeline {
    padding: 0rem !important;
}

.dropdown-nav {
    z-index: 1 !important;
}

.form {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-items: stretch;
    flex-direction: column;
    align-content: center;
}



