@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    background-color: silver;
}

.content {
    
}

video {
    
    z-index: -1;
}

.nav-hidden {
    z-index: 1;
}

.vertical-timeline {
    padding: 0rem !important;
}

.dropdown-nav {
    z-index: 1 !important;
}

.form {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-items: stretch;
    flex-direction: column;
    align-content: center;
}


.bgvid {
    object-fit: contain;
    height: 100%;
    z-index: -1;
}
.bgvid2 {
    object-fit: cover;
    height: 100%;
    z-index: -1;
}
.hidnav {
    z-index: 1;
}
.text-base {
    color: white;
}
.capitalize.text-accent.text-sm.mb-3 {
    color: white;
}

#portfolio {
    color: white;
}